body {
  margin: 0;
  overflow: hidden;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.gui {
  position: absolute;
  z-index: 1;
  font-family: 'Anton', sans-serif;
  text-align: center;
  /*DEBUG*/
  text-shadow: 0 0 4px #FFFFFF;
}

.gui-main {
  position: absolute;
  z-index: 1;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  line-height: 100px;
}


/* Elements */

#wave-number {
  width: 100%;
}

#hp-bar {
  bottom: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
}

#current-weapon-stats {
  right: 0px;
  bottom: 0px;
  width: 200px;
  height: 150px;
  line-height: 100px;
  transform-origin: 100% 100%;
}

#current-weapon-name {
  width: 100%;
  height: 100px;
  font-size: 50px;
  bottom: 50px;
}

#current-weapon-ammo {
  width: 100%;
  height: 50px;
  font-size: 35px;
  bottom: 50px;
}


/* Animations */

@keyframes lost-hp {
  8% {
    font-size: 100px;
    color: red;
    transform: rotate(-15deg);
    bottom: 5px;
    left: 5px;
  }
  100% {
    font-size: 50px;
    transform: scale(35px);
    color: black;
    transform: rotate(0deg);
    bottom: 0px;
    left: 0px;
  }
}

.lost-hp-anim {
  animation-name: lost-hp;
  animation-duration: 1s;
}

@keyframes gained-hp {
  10% {
    font-size: 70px;
    color: green;
  }
  20% {
    font-size: 50px;
  }
  30% {
    font-size: 70px;
  }
  40% {
    font-size: 50px;
  }
  /* Pause - no animation */
  50% {
    font-size: 50px;
  }
  60% {
    font-size: 70px;
  }
  70% {
    font-size: 50px;
  }
  80% {
    font-size: 70px;
  }
  90% {
    font-size: 50px;
    color: green;
  }
  100% {
    font-size: 50px;
    color: black;
    transform: rotate(0deg);
    left: 0px;
    bottom: 0px;
  }
}

.gained-hp-anim {
  animation-name: gained-hp;
  animation-duration: 1.5s;
}

@keyframes used-bullet {
  50% {
    font-size: 45px;
    color: yellow;
  }
  100% {
    font-size: 35px;
    color: black;
  }
}

.used-bullet-anim {
  animation-name: used-bullet;
  animation-duration: 0.15s;
}

@keyframes used-bullet {
  50% {
    font-size: 45px;
    color: yellow;
  }
  100% {
    font-size: 35px;
    color: black;
  }
}

.used-bullet-anim {
  animation-name: used-bullet;
  animation-duration: 0.15s;
}

@keyframes changed-weapon {
  0% {
    transform: rotate(0deg);
  }
  49% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.changed-weapon-anim {
  animation-name: changed-weapon;
  animation-duration: 0.5s;
}

@keyframes incoming-wave {
  5% {
    font-size: 100px;
    color: red;
  }
  100% {
    font-size: 50px
  }
}

.incoming-wave-anim {
  animation-name: incoming-wave;
  animation-duration: 1.5s;
}